<h2>Plants</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Water</th>
            <th>Light</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let plant of plantService.plants" class="align-middle">
            <td>{{ plant.id }}</td>
            <td>{{ plant.name }}</td>
            <td>{{ plant.water }}</td>
            <td>{{ plant.light }}</td>
            <td>
                <button class="btn btn-outline-primary" (click)="UpdatePlant(plant)">
                    Update
                </button>
                <button class="btn btn-outline-danger" (click)="DeletePlant(plant)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
